<%- include ('header') %>

    <div class= 'resultado'>
        <% if (error){%>
        <%= error %>
        <% }else{ %>
            <%= quantidade %> 
                dólares na cotação de 
            <%= cotacao %> 
                é igual a 
            <%= conversao %>    reais.
        <% } %>
    </div>

<%- include ('footer') %>